---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import PwaHead from "../components/Pwa_Head.astro";
---

<!DOCTYPE html>
<html lang="it">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<PwaHead />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Benvenuto!</h1>
			<p>Questo è il sito di riferimento del "corso".</p>
			<p>
				Prima di continuare ricordo che per una migliore visualizzazione su
				mobile è possibile scaricare l'app. Se non ti è uscita l'opzione già
				puoi farlo cliccando i 3 puntini in alto e troverai l'opzione per farlo
			</p>
			<p>Il sito per ora è organizzato così:</p>
			<ul>
				<li>
					Basi, dove potrai vedere le lezioni della prima parte (la vera e
					propria introduzione)
				</li>
				<li>
					Avanzato, dove troverai le lezioni della seconda parte, ovvero dove si
					introdurranno concetti e strumenti per usare le conoscenze di base
					della prima parte e costruire quello che si vuole
				</li>
				<li>
					Blog, dove saranno postati degli articoli su cose che possono
					interessare per approfondire
				</li>
			</ul>

			<h2>Attenzione</h2>
			<p>La struttura del sito molto probabilmente subirà variazioni</p>
			<p>
				In futuro sarà aggiunta la possibilità di fornire consigli e/o richieste
				nel sito stesso o comunque in qualche modo. Per ora è possibile farlo su <a
					href="https://github.com/gabrielemercolino/cardano-introduzione-web-dev"
					>Github</a
				>
			</p>
		</main>
		<Footer />
	</body>
</html>
